<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JH6_vndesai/indent.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="indent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="ProperlyIndented.txt ProperlyIndented2.txt NotIndentedProperly.txt NotIndentedProperly2.txt NotIndentedProperly3.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JH6_vndesai"/>
</launchConfiguration>
